body{
  margin: 0;
  padding: 0;
  color:#000000;
  font-family: 'Lato', sans-serif;
}
nav{
  margin-left: 70%;
  margin-top: 10px;
  font-size: 0.9em;
}
nav a{
  color:#000000;
  font-family: 'Lato', sans-serif;
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 4px;
  margin-left: 8px;
}
a{
  text-decoration: none;
}

.gnav::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.gnav:hover::after {
  transform: scale(1, 1);
}

header{
  text-align: center;
  margin-top: 200px;
}
header p{
  font-size: 0.8em;
  padding: 4px;
}
.titlelogo{
  width: 400px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  background-size: contain;
}
.title_futsuu{
  position:absolute;
  top:0;
  left:0;
  opacity:1;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
}
.title_bureteru{
  top:0;
  left: 0;
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  position: absolute;
}

.titlelogo:hover .title_futsuu{
  opacity: 0;
}

.titlelogo:hover .title_bureteru{
  opacity: 1;
}

p{
  display: block;
}

h1{
  text-align: center;
  font-size: 0.9em;
  font-weight: lighter;
  color: gray;
}
h2{
  padding-top: 18px;
}
.komidashi{
  font-size: 1.2em;
  font-weight: 100;
  padding: 4px;
}

header a{
  font-size: 0.94em;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-top: 60px;
  z-index: 2;
}


/*スクロールボタン周り*/
 .scroll {
  top: 180px;
  margin-left: -12px;
  color: black;
  display: inline-block;
  padding-top: 48px;
  padding-bottom: 300px;
  z-index: 2;
}
.scroll span{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.wf-notosansjapanese {
  font-family: "Noto Sans Japanese";
}


.about{
  text-align: center;
  box-sizing: border-box;
  padding: 40px 0 0 0;
  letter-spacing: 0.1em;
  line-height: 1em;
}
.myphoto{
  width: 12%;
  min-width: 100px;
  padding: 24px 0 20px 0;
  margin: 0;
}

.skills{
  font-size: 0.8em;
  line-height: 16px;
}
/*ビリビリさせたい*/
 .biri{
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
}
#biribiri{
  width: 24px;
  clear: both;
  position: absolute;
}
#biriri{
  width: 24px;
  opacity: 0;
}
.biri:hover #biribiri{
  opacity: 0;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
}
.biri:hover #biriri{
  opacity: 1;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
}



.namae{
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}
.name{
  font-size: 0.8em;
  padding: 4px 0;
  margin: 0;
}
.text{
  width: 400px;
  padding-top: 40px;
}
.contents{
  font-size: 0.7em;
  line-height: 2.0em;
}
.socialIcon{
  margin: 28px;
}
/* BUTTON 5 */
.btn{
  border-radius: 12px;
}
.btn:hover, .btn:focus{
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
          animation: gelatine 0.5s 1;
}

@-webkit-keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
}
@keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

.socialIcon img{
  width: 32px;
  padding: 2px;
}

.bio{
  width: 60%;
  margin: 0 auto;
  height: 200px;
}
#rekishi{
  text-align: left;
  min-width: 360px;
}

.works{
  text-align: center;
  padding-top: 80px;
}

.card img{
  width: 48%;
  min-width: 360px;
  margin: 0 auto;
    clear: both;
}

.workcard{
  padding: 10px;
}
.card h3, .card p{
  padding: 0 1.4em;
  text-align: left;
  line-height: 2em;
  width: 50%;
  min-width: 360px;
  margin: 0 auto;
}
.card p{
  font-size: 0.8em;
}
.card h3{
  font-size: 1em;
}

.card{
  padding: 20px;
}

/* .mockup{ */
  /* width: 50%;
  min-width: 360px; */
  /* margin: 0 auto;
  padding: 10px;
} */
/* .mockup .mock-img{
  width: 14%;
  min-width: 40px;
} */


.worklink{
  padding-top: 32px;
  padding-bottom: 80px;
}

.linkcard {
  width: 180px;
  height: 180px;
  overflow: hidden;
  display: inline-block;
  padding:5px 10px;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  transition: .3s;
  font-size: 1.0em;
}

.linkcard a{
  color: rgb(50, 153, 184);
  font-size: 0.9em;
  padding: 10px;
}
.linkcard img{
  width: 180px;
  height: 90px;
}
.linkcard:hover {
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

#gh a{
  text-decoration: none;
  font-size: 0.8em;
}


footer{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding-bottom: 40px;
}
