*{
  margin: 0;
  padding: 0;
  color:#000000;
  font-family: 'Lato', sans-serif;
}

.header02{
  height: 40px;
  padding: 10px;
}
.wf-notosansjapanese {
  font-family: "Noto Sans Japanese";
}
nav{
  margin-left: 70%;
  margin-top: 10px;
  font-size: 0.9em;
}
nav a{
  color:#000000;
  font-family: 'Lato', sans-serif;
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 4px;
  margin-left: 8px;
}
a{
  text-decoration: none;
}

.gnav::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.gnav:hover::after {
  transform: scale(1, 1);
}

.headColor{
  width: 100%;
  height: 480px;
  /* background-color: rgb(218, 78, 129); */
}
#kyun{
    background-color: #FCC800;
}
#life{
    background-color: #19284F;
}
#locaru{
    background-color: #95C4D0;
}

header img{
  width: 18vw;
  min-width: 120px;
}
.headImg{
  text-align: center;
  padding: 40px 0;
}
.headImg img{
  padding: 0 2px;
}
.contents h1, .contents p{
  margin-left: 14vw;
}
.contents p{
  font-size: 0.8em;
  line-height: 1.8em;
}


.titlelogo{
  width: 400px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  background-size: contain;
  min-width: 200px;
}
.title_futsuu{
  position:absolute;
  top:0;
  left:0;
  opacity:1;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
}
.title_bureteru{
  top:0;
  left: 0;
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  position: absolute;
}

.titlelogo:hover .title_futsuu{
  opacity: 0;
}

.titlelogo:hover .title_bureteru{
  opacity: 1;
}



#logo2{
  width: 20%;
  margin-left: 14%;
  margin-top: 10px;
}

footer{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding-bottom: 40px;
}
